@use '@carbon/react/scss/spacing' as *;

.coffee-add-heading {
    margin-top: $spacing-06;
}

.coffee-add-save {
    height: 100%;
    width: 100%;
    padding: $spacing-03;
    border-radius: $spacing-03;
    align-items: center;
    justify-content: center;
}

.coffee-add-radio {
    margin-top: $spacing-03;
    margin-bottom: $spacing-03;
}