@use '@carbon/react/scss/spacing' as *;

@mixin coffee-save {
    height: 70%;
    width: 100%;
    margin-top: $spacing-04;
    margin-bottom: $spacing-04;
    padding: $spacing-03;
    border-radius: $spacing-03;
    align-items: center;
    justify-content: center;
}

.coffee-add-heading {
    margin-top: $spacing-06;
}

.coffee-save-button {
   @include coffee-save;
}

.coffee-save-message {
    @include coffee-save;
    width: 100%;
    justify-content:flex-start
}