.container {
    width: 100%;
    height: 100%;
}

.form {
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 1fr 1fr 1fr 10%;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    grid-template-areas:    "name name"
                            "input output"
                            "time temp"
                            "mill ."
                            "save save";
}

.coffeeName {
    grid-area: name;
    padding: 1rem;
    font-size: 2.5rem;
}

.input {
    grid-area: input
}

.output {
    grid-area: output
}

.time {
    grid-area: time
}

.temp {
    grid-area: temp
}

.mill {
    grid-area: mill
}

.save {
    grid-area: save;
    font-size: 2.5rem;
}