.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-rows: 10% auto 10%;
    grid-template-areas:    "header"
                            "center"
                            "footer"
}

.header {
    grid-area: header;
}

.center {
    grid-area: center;
}

.footer {
    grid-area: footer;
}